<html>
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.0/socket.io.js"></script>
<script>
var socket = io.connect('http://localhost:3000');
socket.on('text', function(data) {
  var h1 = document.getElementById(data.id + "-div");
  if (data.checked) {
    h1.style.display = "block";
    h1.innerHTML = data.id + ": " + data.text;
  } else {
    h1.style.display = "none";
  }
});
</script>
</head>
<body>
<h1>Display Text Data</h1>
<div id="data">
  <h1 id="text1-div"></h1>
  <h1 id="text2-div"></h1>
  <h1 id="text3-div"></h1>
  <h1 id="text4-div"></h1>
  <h1 id="text5-div"></h1>
  <h1 id="text6-div"></h1>
  <h1 id="text7-div"></h1>
</div>
</body>
</html>